<!-- nav bar -->
<app-user-navbar></app-user-navbar>

<!-- main -->
<div class="bg-background pb-6 mt-16">


  <!-- header -->
  <app-user-profile-header></app-user-profile-header>


  <!-- details panel -->
  <div class="bg-purple1  mt-3  p-6 rounded-lg shadow-lg">
    <p-tabView selectOnFocus="true" orientation="" >
      <p-tabPanel header="Profile">
        
      </p-tabPanel>
      <p-tabPanel header="Email">
      </p-tabPanel>
      <p-tabPanel header="Password & API">
      </p-tabPanel>
      <p-tabPanel header="Notifications">
      </p-tabPanel>
      <p-tabPanel header="Account">
      </p-tabPanel>
    </p-tabView>
  </div>


</div>
<!-- footer -->
<app-footer></app-footer>
