
<!-- nav bar -->
<app-landingnavbar></app-landingnavbar>

<!-- main -->
<div class="bg-background pb-6 mt-16">



<div class="relative h-20 md:h-24 bg-background flex items-center justify-center text-center">
  <img src="assets/images/Register complete.png" alt="abstract-mountain-background"
    class="absolute w-full h-full object-cover bg-repeat opacity-85" />
  <div class="relative z-10 items-center md:mr-16 text-center px-0">
    <p class="text-4xl md:text-5xl font-bold  text-metawhite opacity-80 ">Shopping Cart</p>
  </div>
</div>


<div class="bg-background text-metawhite">
  <div class="container mx-auto p-4">
    <div class="flex flex-col lg:flex-row -mx-4">
      <!-- Products Summary -->
      <div class="w-full lg:w-3/4">
        <div class="bg-darkpurple rounded-xl p-4 shadow-md text-metawhite mt-6 lg:mt-0">
            <div class="bg-darkpink p-4 rounded-t-xl text-wrap text-xl font-light flex justify-between">
                <span class="w-1/4">Product</span>
                <span class="w-1/4">Price</span>
                <span class="w-1/4">Quantity</span>
                <span class="w-1/4">Sub Total</span>
            </div>
            <div class="bg-purple-900 p-4 flex justify-between items-center border-b border-purple-800">
                <span class="w-1/4 flex items-center">
                    Elephant <img src="assets/images/s1.jpeg" alt="Elephant" class="w-20 h-20 ml-8" />
                </span>
                <span class="w-1/4">$25.34</span>
                <div class="w-1/4 flex items-center">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-l">-</button>
                  <input type="text" value="1" class="w-12 text-center text-bgpurple border-0">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-r">+</button>
                </div>
                <span class="w-1/4">$25.34</span>
            </div>
            <div class="bg-purple-900 p-4 flex justify-between items-center border-b border-purple-800">
                <span class="w-1/4 flex items-center">
                    Elephant <img src="assets/images/s1.jpeg" alt="Elephant" class="w-20 h-20 ml-8" />
                </span>
                <span class="w-1/4">$25.34</span>
                <div class="w-1/4 flex items-center">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-l">-</button>
                  <input type="text" value="1" class="w-12 text-center text-bgpurple border-0">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-r">+</button>
                </div>
                <span class="w-1/4">$25.34</span>
            </div>
            <div class="bg-purple-900 p-4 flex justify-between items-center border-b border-purple-800">
                <span class="w-1/4 flex items-center">
                    Elephant <img src="assets/images/s1.jpeg" alt="Elephant" class="w-20 h-20 ml-8" />
                </span>
                <span class="w-1/4">$25.34</span>
                <div class="w-1/4 flex items-center">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-l">-</button>
                  <input type="text" value="1" class="w-12 text-center text-bgpurple border-0">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-r">+</button>
                </div>
                <span class="w-1/4">$25.34</span>
            </div>
            <div class="bg-purple-900 p-4 flex justify-between items-center border-b border-purple-800">
                <span class="w-1/4 flex items-center">
                    Elephant <img src="assets/images/s1.jpeg" alt="Elephant" class="w-20 h-20 ml-8" />
                </span>
                <span class="w-1/4">$25.34</span>
                <div class="w-1/4 flex items-center">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-l">-</button>
                  <input type="text" value="1" class="w-12 text-center text-bgpurple border-0">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-r">+</button>
                </div>
                <span class="w-1/4">$25.34</span>
            </div>
            <div class="bg-purple-900 p-4 flex justify-between items-center border-b border-purple-800">
                <span class="w-1/4 flex items-center">
                    Elephant <img src="assets/images/s1.jpeg" alt="Elephant" class="w-20 h-20 ml-8" />
                </span>
                <span class="w-1/4">$25.34</span>
                <div class="w-1/4 flex items-center">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-l">-</button>
                  <input type="text" value="1" class="w-12 text-center text-bgpurple border-0">
                  <button class="bg-darkpink  text-metawhite  px-2 rounded-r">+</button>
                </div>
                <span class="w-1/4">$25.34</span>
            </div>
            <div class="bg-purple-900 p-4 flex justify-between items-center border-b border-purple-800">
                <span class="w-1/4 flex items-center">
                    Elephant <img src="assets/images/s1.jpeg" alt="Elephant" class="w-25 h-20 ml-8" />
                </span>
                <span class="w-1/4">$25.34</span>
                <div class="w-1/4 flex items-center">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-l">-</button>
                  <input type="text" value="1" class="w-12 text-center text-bgpurple border-0">
                  <button class="bg-darkpink text-metawhite  px-2 rounded-r">+</button>
                </div>
                <span class="w-1/4">$25.34</span>
            </div>
        </div>
    </div>
    

      <!-- Order Summary -->
      <div class="w-full lg:w-1/4 mt-8 lg:mt-0 lg:ml-4">
        <div class="bg-darkpurple rounded-xl p-6 shadow-md text-metawhite ">
          <div class="bg-darkpink p-4 rounded-t-xl text-center text-xl font-light">
            Order Summary
          </div>
          <div class="my-6">
            <div class="flex justify-between my-2">
              <span>Sub Total</span>
              <span>$76.04</span>
            </div>
            <div class="flex justify-between my-2">
              <span>Platform Charges</span>
              <span>$10.00</span>
            </div>
            <div class="flex justify-between my-2">
              <span class="text-darkpink">Discounts →</span>
              <span></span>
            </div>
          </div>
          <div class="flex justify-between text-xl font-bold border-t border-white pt-4">
            <span>Total</span>
            <span>$86.04</span>
          </div>
          <button class="bg-darkpink rounded-xl text-metawhite  p-4 text-center w-full text-lg mt-4">
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


    
    <div class="relative h-60  bg-background   flex items-center justify-center text-center">
      <img src="assets/images/img marketcheckout.png" alt="background" class="absolute  w-full h-60 object-cover bg-repeat opacity-50" />
      <div class="relative z-10">
        <h2 class="text-2xl font-light text-metawhite">"Experience the future of architecture with the Contemporary Cultural <br>Center 3D model. Perfectly designed for virtual tours, educational <br>purposes, and detailed project visualizations, bringing modern <br>innovation to your fingertips."</h2>
        
      </div>
    </div>
  

</div>


<!-- footer -->
<app-footer></app-footer>

