<div>
  <app-admin-sidebar ></app-admin-sidebar>
  <div class="p-6 bg-lightpink/5 lg:ml-80">
    <!-- top bar -->
    <app-adminnavbar [bcitems]="[{label:'Finance'},{label:'Transactions'}]"></app-adminnavbar>

    <div class="flex items-center mb-6">
      <h1 class="text-2xl font-bold text-primary">All Transactions</h1>
    </div>

    <div class="flex flex-col items-center justify-center  mb-6">
      <div class="flex flex-row w-full justify-evenly mb-4">
        <p-calendar
          [(ngModel)]="date1"
          [showIcon]="true"
          [showOnFocus]="false"
          inputId="buttondisplay"
          dateFormat="yy-mm-dd"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2000:2030"
          placeholder="From"
          [showButtonBar]="true"
        />

        <p-calendar
          [(ngModel)]="date2"
          [showIcon]="true"
          [showOnFocus]="false"
          inputId="buttondisplay"
          dateFormat="yy-mm-dd"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2000:2030"
          placeholder="To"
          [showButtonBar]="true"
        />

        <button class="bg-purple4 text-white w-36 text-metawhite hover:bg-purple2 transition tracking-normal py-2 rounded-lg" (click)="filter()">Search</button>

      </div>
      <app-table-admin-4-coloum   > </app-table-admin-4-coloum>
    </div>
  </div>
</div>
