<!-- nav bar -->
<app-landingnavbar></app-landingnavbar>

<div class=" bg-metablack pb-6">

  <div class="bg-background relative text-metawhite">
    <img src="assets/images/Wave.png" alt="abstract-mountain-background" class="absolute  w-full h-full object-cover bg-repeat " />
    <div class="relative max-w-7xl mx-auto flex flex-col md:flex-row items-center z-20">
      <div class="md:w-1/2 flex justify-center md:justify-start">
        <!-- <img src="https://placehold.co/150x150?text=Rocket" alt="rocket illustration" class="w-48 h-48" /> -->
        <app-model2></app-model2>
      </div>
      <div class="md:w-1/2 mt-8 md:mt-0 text-center md:text-left py-9">
        <button class="border border-darkpurple hover:border-lightpurple text-lightpurple hover:text-metawhite px-4 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple mb-5 h-8">Join with Us Today!</button>
        <h1 class="text-3xl font-bold mb-4">Discover, Buy, and Sell AR VR Content Effortlessly</h1>
        <p class="text-metawhite mb-4">
          Explore and trade top-quality AR/VR content in our seamless marketplace, designed for creators and enthusiasts to buy, sell, and connect in a dynamic and user-friendly environment.
        </p>
        <button class="bg-darkpurple text-metawhite px-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple h-8">Shop Now →</button>
        <div class="max-w-7xl mx-auto mt-12 grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
          <div>
            <h2 class="text-2xl font-bold">2500+</h2>
            <p class="text-metawhite">3D Models</p>
          </div>
          <div>
            <h2 class="text-2xl font-bold">2500+</h2>
            <p class="text-metawhite">3D Models</p>
          </div>
          <div>
            <h2 class="text-2xl font-bold">2500+</h2>
            <p class="text-metawhite">3D Models</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="relative h-60  bg-background   flex items-center justify-center text-center">
    <img src="assets/images/flow.jpg" alt="background" class="absolute  w-full h-60 object-cover bg-repeat opacity-30" />
    <div class="relative z-10">
      <h3 class="text-metawhite text-3xl font-light text-center">"Unlock your creativity and immerse yourself in the limitless<br> possibilities of AR and VR content with our cutting-edge platform."</h3>
    </div>
  </div>





  <div class="relative  h-80  bg-background  flex items-center justify-end text-center">
    <img src="assets/images/img04.png" alt="abstract-mountain-background" class="absolute  w-full h-full object-cover bg-repeat opacity-60" />
    <div class="relative z-10">
      <h3 class="text-metawhite text-3xl font-light justify-end text-right mr-16 ">"Dicover the favorites of our<br>community and elevate<br> your AR/VR projects"</h3>
    </div>
  </div>


<!-- why -->

  <div class="relative h-60  bg-background   flex items-center justify-center text-center">
    <img src="assets/images/img02.png" alt="abstract-mountain-background" class="absolute  w-full h-60 object-cover bg-repeat" />
    <div class="relative z-10">
      <h3 class="text-metawhite text-4xl font-light text-left">" Why Choose</h3>
      <h1 class="text-metawhite text-7xl font-bold text-right ml-16">MetaNet ? "</h1>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-bgpurple p-8 my-6 rounded-xl ">
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-lightpurple">Discover</h1>
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <p class="text-metawhite mb-6">
        Explore an extensive collection of AR/VR 3D models, offering endless possibilities for your projects. Our diverse
        library ensures you find the perfect assets to create immersive and engaging experiences.
      </p>
      <div class="flex justify-center md:justify-start space-x-4  h-8">
        <button class="bg-darkpurple text-metawhite px-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Browse Models</button>
        <button class="border border-darkpurple hover:border-lightpurple text-lightpurple hover:text-metawhite px-4 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Explore Now</button>
      </div>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
        <!-- 3D model -->
        <app-model1></app-model1>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-bgpurple p-8 my-6 rounded-xl ">
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
      <!-- 3D model -->
      <app-model2></app-model2>
    </div>
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-lightpurple">High Standards</h1>
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <p class="text-metawhite mb-6">
        Experience top-tier AR/VR 3D models,
        meticulously verified to meet rigorous quality standards.
        Enjoy high-performance content that seamlessly integrates and enhances your projects with unmatched reliability and excellence.
      </p>
      <div class="flex justify-center md:justify-start space-x-4  h-8">
        <button class="bg-darkpurple text-metawhite px-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Check Standards</button>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-bgpurple p-8 my-6 rounded-xl ">
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-lightpurple">Secure</h1>
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <p class="text-metawhite mb-6">
        Shop confidently with our secure and reliable payment gateway. Your transactions are protected, ensuring a safe and trustworthy purchasing experience for all your AR/VR 3D model needs.
      </p>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
        <!-- 3D model -->
        <app-model1></app-model1>
    </div>
  </div>



<!-- sign in cord -->
<div class="bg-purple2 relative text-metawhite px-12  rounded-lg mx-12  flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8">
  <div class="flex-1 p-8 relative">
    <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <h2 class="text-3xl font-light mb-4 text-metawhite">
        Ready to Elevate<br />
        <span class="text-primary font-bold">Your AR/VR Projects?</span>
      </h2>
    <p class="text-muted-foreground mb-6">Unlock limitless possibilities with our premium AR/VR 3D models.<br>Join our vibrant community of creators and enthusiasts today!</p>
    <button class="border border-metawhite  text-metawhite hover:text-metawhite px-4 h-8 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Sign In</button>
  </div>
  <div class="flex justify-end ">
    <img src="assets/images/img03.png" alt="Person using AR/VR headset with neon graphics" class=" flex rounded-lg h-96" />
  </div>
</div>



</div>
<!-- footer -->
<app-footer></app-footer>
