<!-- nav bar -->
<app-landingnavbar></app-landingnavbar>

<div class=" bg-metablack pb-6">

<div class="relative  h-80  bg-background  flex items-center justify-end text-center">
  <img src="assets/images/img04.png" alt="abstract-mountain-background" class="absolute  w-full h-full object-cover bg-repeat" />
  <div class="relative z-10">
    <h3 class="text-metawhite text-3xl font-light justify-end text-right mr-16 ">"Dicover the favorites of our<br>community and elevate<br> your AR/VR projects"</h3>
  </div>
</div>


<!-- why -->

  <div class="relative h-60  bg-background mt-3  flex items-center justify-center text-center">
    <img src="assets/images/img02.png" alt="abstract-mountain-background" class="absolute  w-full h-60 object-cover bg-repeat" />
    <div class="relative z-10">
      <h3 class="text-metawhite text-4xl font-light text-left">" Why Choose</h3>
      <h1 class="text-metawhite text-7xl font-bold text-right ml-16">MetaNet ? "</h1>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-bgpurple p-8 my-6 rounded-xl ">
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-lightpurple mb-4 underline underline-offset-8 ">Discover</h1>
      <div class="h-1 w-16 bg-primary mb-4"></div>
      <p class="text-metawhite mb-6">
        Explore an extensive collection of AR/VR 3D models, offering endless possibilities for your projects. Our diverse
        library ensures you find the perfect assets to create immersive and engaging experiences.
      </p>
      <div class="flex justify-center md:justify-start space-x-4  h-8">
        <button class="bg-darkpurple text-metawhite px-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Browse Models</button>
        <button class="border border-darkpurple hover:border-lightpurple text-lightpurple hover:text-metawhite px-4 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Explore Now</button>
      </div>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
        <!-- 3D model -->
        <app-model1></app-model1>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-bgpurple p-8 my-6 rounded-xl ">
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
      <!-- 3D model -->
      <app-model2></app-model2>
    </div>
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-lightpurple mb-4 underline underline-offset-8">High Standards</h1>
      <div class="h-1 w-16 bg-primary mb-4"></div>
      <p class="text-metawhite mb-6">
        Experience top-tier AR/VR 3D models,
        meticulously verified to meet rigorous quality standards.
        Enjoy high-performance content that seamlessly integrates and enhances your projects with unmatched reliability and excellence.
      </p>
      <div class="flex justify-center md:justify-start space-x-4  h-8">
        <button class="bg-darkpurple text-metawhite px-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Check Standards</button>
      </div>
    </div>

  </div>

  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-bgpurple p-8 my-6 rounded-xl ">
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-lightpurple mb-4 underline underline-offset-8">Secure</h1>
      <div class="h-1 w-16 bg-primary mb-4"></div>
      <p class="text-metawhite mb-6">
        Shop confidently with our secure and reliable payment gateway. Your transactions are protected, ensuring a safe and trustworthy purchasing experience for all your AR/VR 3D model needs.
      </p>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
        <!-- 3D model -->
        <app-model1></app-model1>
    </div>
  </div>



<!-- sign in cord -->
<div class="bg-purple2 text-metawhite   rounded-lg mx-12  flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8">
  <div class="flex-1 p-8">
    <h2 class="text-3xl font-bold mb-4 text-lightpink">
      Ready to Elevate <br />
      <span class="text-primary">Your AR/VR Projects?</span>
    </h2>
    <p class="text-muted-foreground mb-6">Unlock limitless possibilities with our premium AR/VR 3D models. Join our vibrant community of creators and enthusiasts today!</p>
    <button class="border border-metawhite  text-metawhite hover:text-metawhite px-4 h-8 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Sign In</button>
  </div>
  <div class="flex justify-end ">
    <img src="assets/images/img03.png" alt="Person using AR/VR headset with neon graphics" class=" flex rounded-lg h-80" />
  </div>
</div>



</div>
<!-- footer -->
<app-footer></app-footer>
