:host ::ng-deep .p-datatable{
  border-radius: 8px;
  background-color: #fff;
  color: #6E0E96;
  font-size: 1rem;


}

:host ::ng-deep .p-datatable tr th{
  background-color: #6E0E96;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .p-datatable tr:hover {
  background-color: #9855b288;
  padding: 0px;
}

:host ::ng-deep .p-datatable tr{
  padding: 0px;
  text-align: center;
}

:host ::ng-deep .p-datatable .p-inputtext{
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
