.p-datatable-customers{
  font-size: 1rem !important;
  border-radius: 10px !important;
  border: none !important;
  background-color: #a21515 !important;
  box-shadow: none !important;
  padding: 0 !important;
}
