<!-- nav bar -->
<app-landingnavbar></app-landingnavbar>

<!-- main -->
<div class="bg-background pb-6 mt-9">


  <div class="relative h-96 md:h-[25rem] bg-background flex items-center justify-end text-center">
    <img src="assets/images/imge06.png" alt="abstract-mountain-background" class="absolute w-full h-full object-cover bg-repeat opacity-50" />
    <div class="relative z-10 items-center mr-4 md:mr-16 text-left p-4">
      <h1 class="text-4xl md:text-7xl font-extrabold mb-5 text-darkpink opacity-65 ">About Us</h1>
      <p class="text-metawhite text-lg md:text-xl font-light ">Discover the future of AR/VR content sharing with Metanet,<br> the premier platform for creators and enthusiasts.<br>Our mission is to revolutionize how you create, share,<br>and experience AR/VR models, making them accessible to everyone.</p>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-between  bg-background ">
    <div class=" flex flex-col md:w-1/2 text-center justify-center md:text-left ml-12 p-8">
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <h2 class="text-xl  text-metawhite mb-2 ">Hello!</h2>
      <h1 class="text-4xl text-metawhite mb-4">Welcome to</h1>
      <h1 class="text-7xl  font-bold text-darkpink ml-12 opacity-85">MetaNet</h1>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center p-6">
        <img src="assets/images/lap.png" alt="Person using AR/VR headset with neon graphics" class=" flex rounded-lg h-60" />
    </div>
  </div>

  <!-- mission -->
  <div class="relative h-40  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/image07.png" alt="background" class="absolute  w-full h-40 object-cover bg-repeat opacity-45" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-4xl font-bold text-center opacity-55">Our Mission</h2>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-between mx-12 bg-background p-8">
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <p class="text-metawhite text-xl mb-6">
        At Metanet, our mission is to empower creators by providing a centralized, user-friendly platform for sharing high-quality AR/VR 3D models. We aim to foster a vibrant community where innovation and creativity thrive.
      </p>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
        <!-- 3D model -->
        <app-model1></app-model1>
    </div>
  </div>

  <!-- vision -->
  <div class="relative h-40  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/image08.png" alt="background" class="absolute  w-full h-40 object-cover bg-repeat opacity-45" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-4xl font-bold text-center opacity-55">Our Vision</h2>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-between mx-12  p-8">
    <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
      <!-- 3D model -->
      <app-model1></app-model1>
    </div>
    <div class=" flex flex-col md:w-1/2 text-center md:text-left">
      <p class="text-metawhite text-xl mb-6">
        We envision a world where AR and VR content is seamlessly integrated into everyday life, enhancing experiences and breaking down barriers between the digital and physical worlds. Metanet strives to be at the forefront of this transformation.      </p>
    </div>
  </div>



  <div class="relative h-72  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/img10.jpg" alt="background" class="absolute  w-full h-full object-cover bg-repeat opacity-25" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-lg font-bold text-center opacity-55 md:text-4xl mx-4 md:mx-12 ">"Stand out with Metanet's unparalleled quality, user-friendly interface, and secure transactions—setting the gold standard for AR/VR content sharing."</h2>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-center bg-background text-foreground p-8 space-y-8 md:space-y-0 md:space-x-8 md:gap-20">
    <div class="relative">
      <app-model1></app-model1>
    </div>
    <div class="text-center md:text-left ">
      <h2 class="text-4xl font-light text-metawhite">Why <span class="text-metawhite font-bold">MetaNet</span> ?</h2>
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <p class="text-lg mb-4 text-metawhite">Explore the unique features that set Metanet apart:</p>
      <ul class="flex flex-col space-y-2   text-metawhite">
        <li class="flex items-center"><i class="pi pi-check mr-4" style="font-size: 1rem"></i> Wide Selection of Content</li>
        <li class="flex items-center"><i class="pi pi-check mr-4" style="font-size: 1rem"></i>High-Quality Standards</li>
        <li class="flex items-center"><i class="pi pi-check mr-4" style="font-size: 1rem"></i>User-Friendly Interface</li>
        <li class="flex items-center"><i class="pi pi-check mr-4" style="font-size: 1rem"></i>Secure Transactions</li>
      </ul>
    </div>
  </div>
  <div class="relative h-40  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/wave3.png" alt="background" class="absolute  w-full h-40   " />
  </div>



  <div class="relative h-72  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/img12.jpg" alt="background" class="absolute  w-full h-full object-cover bg-repeat opacity-25" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-lg font-bold text-center opacity-55 md:text-4xl mx-4 md:mx-12">"Driven by passion and innovation,our team is dedicated to pushing the boundaries of AR/VR,making extraordinary experiences accessible to everyone."</h2>
    </div>
  </div>

  <div class="bg-bgpurple relative text-metawhite   rounded-lg mx-12 mt-6  flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8">
    <div class="flex-1 p-8 relative">
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <h2 class="text-3xl font-light mb-4 text-metawhite">
        Join the <br />
        <span class="text-primary font-bold">MetaNet Revolution</span>
      </h2>
      <p class="text-muted-foreground mb-6">Be a part of the AR/VR revolution with Metanet. Whether you’re a creator looking to share your work or an enthusiast seeking high-quality models, Metanet is your gateway to a new dimension of possibilities.</p>
      <!-- <button class="border border-metawhite  text-metawhite hover:text-metawhite p-4 h-8 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Sign In</button> -->
      <div class="flex justify-center md:justify-start space-x-4  h-8">
        <button class="bg-darkpurple text-metawhite p-4 w-40 text-sm rounded-lg hover:bg-lightpurple">Sign Up</button>
        <button class="border border-darkpurple hover:border-lightpurple text-lightpurple hover:text-metawhite w-40  text-sm rounded-lg hover:bg-lightpurple">Learn More</button>
      </div>
    </div>
    <div class="flex justify-end p-4  ">
      <img src="assets/images/img14.jpg" alt="Person using AR/VR headset with neon graphics" class=" flex rounded-lg h-80" />
    </div>
  </div>











</div>



<!-- footer -->
<app-footer></app-footer>
