<div>
  <app-moderator-sidebar ></app-moderator-sidebar>

  <div class="p-6 bg-lightpink/5 ml-80 ">
    <!-- topbar -->
    <app-adminnavbar [bcitems]="[{label:'Dashboard'}]"></app-adminnavbar>

    <!-- greeting -->
    <div class="flex items-center mb-6">
      <img src="assets/images/avata.jpg" alt="User profile picture" class="w-12 h-12 rounded-full mr-4" />
      <h1 class="text-2xl font-bold text-purple4">Welcome Josephin</h1>
    </div>

    <!-- admincards -->
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3F gap-4 mb-6">
      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Requests in Last Week</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">{{StatData.totalReviewRequestsLastWeek}}</p>
      </div><div
      class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
      <h2 class="text-lg font-semibold text-metablack">Total Approved in Last Week</h2>
      <p class="text-xl lg:text-3xl font-bold text-purple1">{{StatData.totalApprovedLastWeek}}</p>
      <p class="text-xs text-pink1">+{{StatData.improveofapprove}}% ↑</p>
    </div><div
      class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
      <h2 class="text-lg font-semibold text-metablack">Total Rejected in Last Week</h2>
      <p class="text-xl lg:text-3xl font-bold text-purple1">{{StatData.totalRejectedLastWeek}}</p>
      <p class="text-xs text-pink1">+{{StatData.improveofreject}}% ↑</p>
    </div>

    </div>



    <!-- charts -->
    <div class=" grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
      <!-- weekly-revenue-bar-chart -->
      <div class="col-span-2  bg-metawhite p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold text-metablack">Recent Actions</h2>
        <app-mod-recent-actions-table [Inputdata]="StatData.resolvedCountsLast7Days"></app-mod-recent-actions-table>
      </div>

      <div class="col-span-2 md:col-span-1 bg-metawhite p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold text-metablack">Review Ratio</h2>
        <app-contributions-moderator-pie-chart [dataset]="StatData.userContributions"></app-contributions-moderator-pie-chart>
      </div>
    </div>
  </div>
</div>
