<!-- navbar -->
<app-landingnavbar></app-landingnavbar>

<!-- main -->
<div class="bg-background pb-6 mt-9">


  <div class="relative h-96 md:h-[27rem] bg-background flex items-center justify-end text-center">
    <img src="assets/images/img15.jpeg" alt="abstract-mountain-background" class="absolute w-full h-full object-cover bg-repeat opacity-45" />
    <div class="relative z-10 items-center mr-4 md:mr-16 text-left p-4">
      <h1 class="text-4xl md:text-7xl font-extrabold mb-5 text-pink1 opacity-80 ">Get In<br>Touch With Us</h1>
      <p class="text-metawhite text-lg md:text-xl font-light">Whether you have questions,need support, <br class="hidden md:inline">or want to provide feedback, we're here to help.<br class="hidden md:inline"> Reach out to us through any of the channels below,<br class="hidden md:inline"> and we'll respond promptly.</p>
    </div>
  </div>

  <div class="relative h-32  bg-background  flex   text-center">
    <img src="assets/images/wave5.png" alt="background" class="absolute  w-full   " />
  </div>

  <div class=" bg-background text-metawhite flex items-center justify-center p-6">
      <div class="relative z-10">
        <h2 class="text-3xl font-bold mt-5 mb-4">Send Us a Message</h2>
        <p class="mb-8">Fill out the form below with your inquiry, and our support team will get back to you as soon as possible.</p>
        <form class="space-y-4">
          <input type="email" placeholder="Your Email" class=" p-3 w-full h-10   bg-purple1 border border-lightpink rounded-lg text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar"/>
          <input type="text" placeholder="Your Name" class="w-full h-10 p-3  bg-purple1 border border-lightpink rounded-lg text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar" />
          <input type="text" placeholder="Subject" class="w-full h-10 p-3  bg-purple1 border border-lightpink rounded-lg text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar" />
          <textarea
            placeholder="Your Message"
            class="w-full p-3  bg-purple1 border border-lightpink rounded-lg text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink  h-32"></textarea>
          <button type="submit" class="w-full h-10 p-3 bg-lightpurple  text-metawhite rounded-lg hover:bg-lightpink focus:outline-none focus:ring-2 focus:ring-metawhite">Submit</button>
        </form>
      </div>
  </div>


  <div class="relative h-40  bg-background  flex align-baseline text-center">
    <img src="assets/images/wave4.png" alt="background" class="absolute  w-full  h-full " />
  </div>

  <div class="relative h-40  bg-background   flex items-center justify-center text-center">
    <img src="assets/images/flow.jpg" alt="background" class="absolute  w-full h-40 object-cover bg-repeat opacity-30" />
    <div class="relative z-10">
      <h2 class="text-4xl font-bold text-metawhite">Connect with Us</h2>
      <div class="mt-2 mb-6">
        <div class="h-1 w-18 bg-lightpurple mx-auto"></div>
      </div>
    </div>
  </div>


  <div class="bg-bgpurple mt-8 p-8 rounded-lg border  max-w-4xl mx-auto">
    <div class="grid grid-cols-3 sm:grid-cols-3 gap-8 text-center text-metawhite">
      <div>
        <a href="#" class="hover:text-lightpurple text-darkpurple"><i class="pi pi-linkedin" style="font-size: 2rem"></i></a>
        <p>LinkedIn</p>
      </div>
      <div>
        <a href="#" class="hover:text-lightpurple text-darkpurple"><i class="pi pi-facebook" style="font-size: 2rem"></i></a>
        <p>Facebook</p>
      </div>
      <div>
        <a href="#" class="hover:text-lightpurple text-darkpurple"><i class="pi pi-discord" style="font-size: 2rem"></i></a>
        <p>Discord</p>
      </div>
      <div>
        <a href="#" class="hover:text-lightpurple text-darkpurple"><i class="pi pi-pinterest" style="font-size: 2rem"></i></a>
        <p>Pinterest</p>
      </div>
      <div>
        <a href="#" class="hover:text-lightpurple text-darkpurple"><i class="pi pi-instagram" style="font-size: 2rem"></i></a>
        <p>Instagram</p>
      </div>
      <div>
        <a href="#" class="hover:text-lightpurple text-darkpurple"><i class="pi pi-twitter" style="font-size: 2rem"></i></a>
        <p>Twitter</p>
      </div>
    </div>
  </div>










</div>

<!-- footer -->
<app-footer></app-footer>
