<div>
  <app-sysadmin-sidebar></app-sysadmin-sidebar>
  <div class="p-6 bg-lightpink/5 lg:ml-80">
    <!-- topbar -->
    <app-adminnavbar [bcitems]="[{label:'Users'},{label:'System Administrators'}]"></app-adminnavbar>

    <div class="flex items-center mb-6">
      <h1 class="text-2xl font-bold text-primary">System Administrators</h1>
    </div>

    <!-- toolbar -->
    <div class="flex items-center mb-6"></div>

    <!-- cards -->
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4 mb-6">
      <div class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite flex flex-col justify-center items-center">
        <h2 class="text-lg font-semibold text-metablack">Total System Administrators</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">86</p>
      </div>

      <div class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite flex flex-col justify-center items-center">
        <h2 class="text-lg font-semibold text-metablack">Active System Administrators</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">10</p>
      </div>


    </div>

<!--charts-->
    <div class=" grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
      <!-- weekly-revenue-bar-chart -->
      <div class="col-span-2  bg-metawhite p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold text-metablack">Contribution Table</h2>
        <app-weekly-revenue-chart></app-weekly-revenue-chart>
      </div>

      <div class="col-span-2 md:col-span-1 bg-metawhite p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold text-metablack">Contribution Level</h2>
        <app-sales-by-category-pie-chart></app-sales-by-category-pie-chart>
      </div>
    </div>



    <!-- table -->
    <div class="flex flex-col items-center justify-center mb-6">
      <app-admin-user-table></app-admin-user-table>
    </div>
  </div>
</div>
