<!-- nav bar -->
<app-landingnavbar></app-landingnavbar>

<!-- main -->
<div class="bg-background pb-6">



  <div class="relative h-96 md:h-[32rem] bg-background flex items-center justify-end text-center">
    <img src="assets/images/img15.jpeg" alt="abstract-mountain-background" class="absolute w-full h-full object-cover bg-repeat opacity-45" />
    <div class="relative z-10 items-center mr-4 md:mr-16 text-left px-4">
      <h1 class="text-4xl md:text-7xl font-extrabold mb-5 text-pink1 opacity-80 ">Our Services</h1>
      <p class="text-metawhite text-lg md:text-xl font-light">At Metanet, we offer a comprehensive range of services designed<br class="hidden md:inline">to empower AR/VR creators and enthusiasts.<br class="hidden md:inline">Discover how our platform can enhance your projects<br class="hidden md:inline">and bring your ideas to life.</p>
    </div>
  </div>






</div>

<!-- footer -->
<app-footer></app-footer>
