<body class="bg-bgpurple">
  <div class="fixed inset-0 flex items-center justify-center bg-bgpurple bg-opacity-50">
    <div
      class="flex flex-col p-6 max-w-lg border border-lightpink rounded-lg  w-full bg-bgpurple text-metawhite shadow-lg rounded-lg overflow-hidden">
      <div class="flex p-4 justify-between items-center mb-4 border-b border-lightpink">
        <h2 class="text-2xl font-bold">Reset Password</h2>
        <button class="text-muted-foreground hover:text-muted" (click)="redirectToHome()">✖</button>

      </div>
      <div>
        <label for="newPassword" class="block text-metawhite mb-2">New
          Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password"
          class="p-3 mb-4 w-full h-10 bg-purple1 border border-lightpink rounded-lg text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar" />
        <div
          *ngIf="newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched || newPasswordForm.controls['newPassword'].dirty"
          class="error-msg">
          <div *ngIf="newPasswordForm.controls['newPassword'].errors?.['required']" class="text-red text-sm pt-1">
            New password is required.
          </div>
          <div *ngIf="newPasswordForm.controls['newPassword'].errors?.['minlength']" class="text-red text-sm pt-1">
            Password must be at least 8 characters.
          </div>
        </div>
        <div class="mb-4">
          <label for="confirmPassword" class="block text-metawhite mb-2">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword"
            placeholder="Confirm new password"
            class="p-3 mb-4 w-full h-10 bg-purple1 border border-lightpink rounded-lg text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar" />
          <div
            *ngIf="newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched || newPasswordForm.controls['confirmPassword'].dirty"
            class="error-msg">
            <div *ngIf="newPasswordForm.controls['confirmPassword'].errors?.['required']" class="text-red text-sm pt-1">
              Confirm password is required.
            </div>
            <div *ngIf="newPasswordForm.hasError('passwordMismatch')" class="text-red text-sm pt-1">
              Passwords do not match.
            </div>
          </div>
          <button
            class="w-full h-10 bg-darkpurple border border-lightpink hover:bg-lightpurple text-metawhite font-bold rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500">
            Change Password
          </button>

        </div>
      </div>
    </div>
  </div>




  <!-- Password Reset Done Popup -->
  <p-dialog header="" [(visible)]="visibleResetPassword" [modal]="true" [draggable]="false" [resizable]="false"
    styleClass="custom-dialog">
    <div class="flex flex-col max-w-lg w-full bg-bgpurple text-metawhite shadow-lg rounded-lg overflow-hidden">
      <div class="p-8">
        <div class="flex flex-col items-center">
          <h2 class="text-2xl font-bold mb-6">Password Reset</h2>
          <p class="text-center">Your Password has been changed.</p>
          <button type="button"
            class="w-full h-10 bbg-darkpurple hover:bg-lightpurple text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500 mt-6"
            (click)="hideResetPassword()">
            Continue
          </button>
        </div>
      </div>
    </div>
  </p-dialog>
</body>