<!-- nav - bar -->
<app-user-navbar></app-user-navbar>

<!-- main -->
<div class="bg-metablack py-6 mt-16">


  <!-- product -->
  <div class="bg-purple1 mx-6 p-6 rounded-lg shadow-lg">
    <a href="#" class="text-pink2 text-sm mb-4 inline-block">← Back to Animals & Pets</a>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 ">
      <div class="flex items-center justify-center">
        <img
          src="https://img.freepik.com/free-photo/dog-skeleton-studio_23-2150891618.jpg?size=626&ext=jpg&ga=GA1.1.1319243779.1711584000&semt=ais"
          alt="3D model of a contemporary cultural center" class="rounded-lg" />
      </div>
      <div class="ml-6">
        <!-- <button class="bg-s text-secondary-foreground hover:bg-secondary/80 mb-2">Save $10</button> -->
        <h2 class="text-2xl font-bold text-metawhite">
          Contemporary Cultural Center
        </h2>
        <p class="text-metawhite ml-6 mt-2">
          This intricate 3D model depicts a modern architectural structure,
          showcasing a sophisticated design with multiple layers, open spaces,
          and detailed structural elements. The model highlights an innovative
          blend of geometric precision and aesthetic appeal, making it an ideal
          asset for architectural visualization, educational purposes, and
          virtual reality (VR) experiences.
        </p>
        <div class="mt-4 text-metawhite">
          <span class="text-xl font-semibold text-primary">$120.00</span>
          <span class="line-through text-muted-foreground ml-3">$130.00</span>
          <p class="text-sm text-muted-foreground">Model code: 985685</p>
          <div class="text-xs text-lightgray flex items-center text-center space-x-2">
            <p-rating [(ngModel)]="ratingvalue" [readonly]="true" [cancel]="false"></p-rating>
            <span>4.9</span>
            <span>14 Reviews</span>
            <span><i class="pi pi-eye" style="font-size: 0.7rem"></i>148K</span>
            <span><i class="pi pi-heart-fill" style="font-size: 0.7rem"></i>685</span>
          </div>
        </div>
        <div class="lg:flex items-center justify-between mt-4 ">
          <div class="flex items-center space-x-2 ">
            <p-inputNumber [(ngModel)]="countity" [showButtons]="true" size="2" buttonLayout="horizontal"
              spinnerMode="horizontal" inputId="horizontal" decrementButtonClass="p-button-secondary"
              incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus" />
          </div>
          <div class="flex items-center space-x-2 mt-4 lg:mt-0">
            <button
              class="bg-darkpurple p-4 h-8 w-32 py-2 text-sm rounded-xl hover:bg-lightpurple text-metawhite items-center text-center space-x-2">
              <i class="pi pi-dollar" style="font-size: 0.9rem"></i>Buy Now
            </button>
            <button
              class="bg-lightpurple p-4 h-8 w-32 py-2 text-sm rounded-xl hover:bg-darkpurple text-metawhite items-center text-center space-x-2">
              <i class="pi pi-shopping-cart" style="font-size: 0.9rem"></i>Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center mt-10 md:mt-4">
      <img
        src="https://img.freepik.com/free-psd/3d-render-avatar-character_23-2150611756.jpg?w=740&t=st=1721725981~exp=1721726581~hmac=7224dffda2f2901623a3dc3c85d338e491f0dd201f069f4cbf4aab9114699e45"
        alt="User avatar" class="w-10 h-10 rounded-full" />
      <span class="font-semibold text-metawhite ml-3">Pasco295</span>
      <button
        class="bg-pink3 text-metawhite ml-2 text-sm rounded-xl w-16 items-center text-center space-x-2 h-6 py-2 justify-center">
        Follow
      </button>
    </div>
    <!-- <div class="flex items-center mt-4 bg-darkpurple">
      <p class="text-muted-foreground text-sm mt-2 ">Published 3 Months ago</p>
    </div> -->

  </div>

  <!-- tabs -->
  <div class="bg-purple1 mx-6 mt-3  p-6 rounded-lg shadow-lg">
    <p-tabView selectOnFocus="true">
      <p-tabPanel header="Description">
        <div class="p-6 rounded-lg shadow-lg">
          <p class="text-metawhite mb-4">
            Follow my Artstation for more:
            <a href="https://www.artstation.com/pasco295"
              class="text-lightgray hover:underline">https://www.artstation.com/pasco295</a>
          </p>
          <h2 class="text-lg font-bold mb-2 text-metawhite">An animated corgi with a set of base animations.</h2>
          <ul class="list-disc list-inside mb-4 text-metawhite">
            <li>Animations - Idle, Idle with Look, Running, Walking and Sitting.</li>
            <li>Fully set up control rig in a clean file.</li>
            <li>Each animation in its Maya file so you can tweak them.</li>
            <li>Full set of PBR Textures.</li>
            <li>.OBJ file of just the mesh.</li>
            <li>An export of the rig and animations in .FBX format for directly importing to Unity/Unreal.</li>
            <li>Scaled to the correct size for use in Unreal 4 and Unity. Rig works correctly in both too.</li>
          </ul>

          <div class="lex flex-wrap gap-2 mb-4  text-metawhite">
            <span class="bg-secondary text-metawhite  py-1 rounded-full mr-3"><i class="pi pi-link"
                style="font-size: 1rem"></i></span>
            <span
              class="border-2 border-darkpink text-metawhite p-4 w-40  text-sm rounded-lg  mb-5 h-8px-3 py-1 ">Architecture</span>
          </div>


          <div class="flex flex-wrap gap-2 mb-4  text-metawhite">
            <span class="bg-secondarypx-3 py-1 rounded-full mr-3"><i class="pi pi-tags"
                style="font-size: 1rem"></i></span>
            <span class="bg-lightpurple text-purple2  p-4  text-sm rounded-lg  mb-5 h-8px-3 px-3 py-1 ">Modern
              Architecture</span>
            <span
              class="bg-lightpurple text-purple2  p-4  text-sm rounded-lg  mb-5 h-8px-3 px-3 py-1 ">Contemporary</span>
            <span class="bg-lightpurple text-purple2  p-4  text-sm rounded-lg  mb-5 h-8px-3 px-3 py-1 ">Cultural
              Center</span>
          </div>


          <div class=" flex justify-start items-center">
            <p-avatarGroup>
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal"
                shape="circle" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="normal"
                shape="circle" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="normal"
                shape="circle" />
              <p-avatar label="+670" shape="circle" size="normal"
                [style]="{ 'background-color': '#9c27b0', color: '#ffffff', 'font-size':'10px' }" />
            </p-avatarGroup>

            <p class="text-metawhite ml-3">Gregory Khodyrev, Paul (Sketchfab), Darkskotas295 and 670 others liked this
              model</p>
          </div>



        </div>
      </p-tabPanel>
      <p-tabPanel header="Advanced Information">
        <div class="p-2 lg:p-6 rounded-lg shadow-lg text-sm">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-darkpink text-metawhite p-4 rounded-t-lg  grid grid-cols-2 justify-between ">
              <h3 class="font-bold text-lg">Feature</h3>
              <h3 class="font-bold text-lg">Details</h3>
            </div>
            <div class="bg-darkpink text-metawhite p-4 rounded-t-lg  hidden md:grid grid-cols-2 justify-between ">
              <h3 class="font-bold text-lg">Feature</h3>
              <h3 class="font-bold text-lg">Details</h3>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between ">
              <span class="font-semibold">License :</span>
              <span>Royalty-Free License</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between ">
              <span class="font-semibold">Textures :</span>
              <span>4</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between ">
              <span class="font-semibold">Included 3D Formats :</span>
              <span>OBJ (.obj), Autodesk FBX (.fbx), Maya (.ma)</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between ">
              <span class="font-semibold">Materia :</span>
              <span>Multiple</span>
            </div>

            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between ">
              <span class="font-semibold">Download Sizec :</span>
              <span>150 MB</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">UV Layers :</span>
              <span>2</span>
            </div>

            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">Geometry :</span>
              <span>Triangles: 288, Quads: 6.6k, Total Triangles: 13.5k</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">Vertex Colors :</span>
              <span>Not included</span>
            </div>

            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between :">
              <span class="font-semibold">Vertices :</span>
              <span>50k</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">Animation :</span>
              <span>Not animated</span>
            </div>

            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">PBR :</span>
              <span>Yes</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">Rigged Geometry :</span>
              <span>No</span>
            </div>

            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">Morph Geometry :</span>
              <span>No</span>
            </div>
            <div class="bg-lightpurple text-metawhite px-4 py-2 rounded-lg grid grid-cols-2 justify-between">
              <span class="font-semibold">Scale Transformation :</span>
              <span>No</span>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Review">
        <div class="grid grid-cols-1 md:grid-cols-2  mb-6 ">
          <div class=" flex p-6  col-span-1 border-r-0 md:border-r-4 md:border-darkpink md:justify-center md:items-center ">
            <div>
              <h1 class="text-3xl text-metawhite mb-2">Customer Reviews</h1>
              <div class="text-xs text-lightgray flex items-center text-center space-x-2">
                <p-rating [(ngModel)]="ratingvalue" [readonly]="true" [cancel]="false"></p-rating>
                <span class="ml-2">4.9 out of 5</span>
              </div>
              <p class="text-lightgray text-sm">680 global ratings</p>
            </div>
          </div>
          <!-- rating -  bar -->
          <div class="p-6  col-span-1 text-lightgray text-xs">
            <div>
              <div class="flex justify-between items-center">
                <span>5 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="fivestar" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>4 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="fourstar" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>3 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="threestar" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>2 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="twostar" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>1 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="onestar" />
              </div>
            </div>

          </div>
        </div>


        <!-- we can use this component when we create a db -->
        <!-- <div class="card">
          <p-dataView #dv [value]="" [rows]="5" [paginator]="true">
              <ng-template pTemplate="list" let-products>
                  <div class="grid grid-nogutter">
                      <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">

                      </div>
                  </div>
              </ng-template>
          </p-dataView>
      </div> -->
        <div class=" text-metawhite mt-3 shadow-lg border-b-2 border-lightgray border-opacity-15">
          <div class="flex justify-between items-center">
            <div class="flex items-start mb-4">
              <img
                src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=338&ext=jpg&ga=GA1.1.2113030492.1719878400&semt=ais_user"
                alt="User avatar" class="w-10 h-10 rounded-full border-2 border-darkpink" />
              <div class="ml-4">
                <h3 class="font-semibold text-lg">Angelina465</h3>
                <span class="text-muted-foreground text-sm">Verified Purchase</span>
              </div>
            </div>
            <div class=" justify-end items-end">
              <div>
                <span class="flex justify-end text-xs mb-2">May 5, 2023</span>
              </div>
              <div>
                <p-rating [(ngModel)]="reviweratingvalue" [readonly]="true" [cancel]="false"></p-rating>
              </div>
            </div>
          </div>
          <h4 class="font-bold text-xl mb-2">Exceptional Detail</h4>
          <p class="text-metawhite mb-4 text-sm">
            The Contemporary Cultural Center 3D model is incredible in detail and precision. The intricate framework and
            layered structures are meticulously crafted, making it perfect for high-quality
            architectural visualizations. This model has significantly enhanced my VR project, adding a touch of realism
            that's hard to find elsewhere.
          </p>
          <!-- <div class="flex justify-between items-center">
            <span class="text-sm text-muted-foreground">17 people found this helpful</span>
            <div class="flex space-x-2">
              <button
                class="bg-secondary text-secondary-foreground hover:bg-secondary/80 px-2 py-1 rounded">Helpful</button>
              <button
                class="bg-destructive text-destructive-foreground hover:bg-destructive/80 px-2 py-1 rounded">Report</button>
            </div>
          </div> -->

        </div>

        <div class=" text-metawhite mt-3 shadow-lg border-b-2 border-lightgray border-opacity-15">
          <div class="flex justify-between items-center">
            <div class="flex items-start mb-4">
              <img
                src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=338&ext=jpg&ga=GA1.1.2113030492.1719878400&semt=ais_user"
                alt="User avatar" class="w-10 h-10 rounded-full border-2 border-darkpink" />
              <div class="ml-4">
                <h3 class="font-semibold text-lg">Angelina465</h3>
                <span class="text-muted-foreground text-sm">Verified Purchase</span>
              </div>
            </div>
            <div class=" justify-end items-end">
              <div>
                <span class="flex justify-end text-xs mb-2">May 5, 2023</span>
              </div>
              <div>
                <p-rating [(ngModel)]="reviweratingvalue" [readonly]="true" [cancel]="false"></p-rating>
              </div>
            </div>
          </div>
          <h4 class="font-bold text-xl mb-2">Exceptional Detail</h4>
          <p class="text-muted-foreground mb-4">
            The Contemporary Cultural Center 3D model is incredible in detail and precision. The intricate framework and
            layered structures are meticulously crafted, making it perfect for high-quality
            architectural visualizations. This model has significantly enhanced my VR project, adding a touch of realism
            that's hard to find elsewhere.
          </p>
          <!-- <div class="flex justify-between items-center">
            <span class="text-sm text-muted-foreground">17 people found this helpful</span>
            <div class="flex space-x-2">
              <button
                class="bg-secondary text-secondary-foreground hover:bg-secondary/80 px-2 py-1 rounded">Helpful</button>
              <button
                class="bg-destructive text-destructive-foreground hover:bg-destructive/80 px-2 py-1 rounded">Report</button>
            </div>
          </div> -->

        </div>


        <div class=" p-6 ">
          <h2 class="text-2xl font-bold text-darkpink">Review this Product</h2>
          <p class="text-metawhite mt-2">Share your thoughts with other customers</p>
          <button class="mt-4 bg-darkpink w-48 h-8 text-metawhite py-2 px-4 rounded-full hover:bg-darkpink/90" (click)="showReviewForm()">Write a customer review</button>
        </div>



      </p-tabPanel>
    </p-tabView>
  </div>


</div>



<!-- review - form -->
<div class="flex justify-center">
  <p-dialog header="" [(visible)]="visibleReviewForm" [modal]="true" [draggable]="false"
     [resizable]="false" styleClass="custom-dialog">

    <div class="bg-purple1  rounded-lg shadow-lg w-full max-w-4xl max-h-full overflow-x-scroll no-scrollbar">
      <div class="flex justify-between items-center mb-4 bg-gradient-to-r from-purple2 to-darkpink">
        <div class="flex items-center p-4">
          <h2 class="text-metawhite text-xl font-semibold">Write Customer Review</h2>
        </div>
      </div>
      <form class="space-y-4 mx-6 mb-6 text-sm" [formGroup]="formGroup">



        <div class="card flex justify-center pt-3">
          <p-floatLabel>
            <input pInputText id="heading" formControlName="heading" />
            <label for="heading" class="text-metawhite">Heading</label>
          </p-floatLabel>
        </div>

        <div class="card flex justify-center pt-3">
          <p-floatLabel>
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [autoResize]="true"
              formControlName="review"
            >
            </textarea>
            <label for="review" class="text-metawhite">Review</label>
          </p-floatLabel>
        </div>

        <div class="card flex justify-center pt-3 pb-6 border-b-2 border-darkpink">
          <label for="rating" class="mr-3 text-metawhite">Rating</label>
          <p-rating formControlName="rating" [cancel]="false" />
        </div>



        <div class="flex items-center">
          <button class="w-1/3 h-8 mx-auto bg-darkpurple text-metawhite py-2 rounded-lg hover:bg-primary/80">Post Your Review</button>
        </div>
      </form>


    </div>
  </p-dialog>
</div>

<!--   footer   -->
<app-footer></app-footer>
