<div>
  <app-admin-sidebar ></app-admin-sidebar>
  <div class="p-6 bg-lightpink/5 lg:ml-80">
    <!-- top bar -->
    <app-adminnavbar [bcitems]="[{label:'Finance'},{label:'Payouts'}]"></app-adminnavbar>

    <div class="flex items-center mb-6">
      <h1 class="text-2xl font-bold text-primary">Payouts</h1>
    </div>

    <!-- tool bar -->
    <div class="flex items-center mb-6">

    </div>

    <!-- cards -->
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-4 mb-6">
      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Total Payouts</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">$1500</p>
        <p class="text-xs text-pink1">+12% ↑</p>
      </div>

      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Pending Payouts</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">1500</p>
        <p class="text-xs text-pink1">+12% ↑</p>
      </div>

      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Completed Payouts</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">$2123</p>
        <p class="text-xs text-pink1">+12% ↑</p>
      </div>

      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Failed Payouts</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">$225</p>
        <p class="text-xs text-pink1">+12% ↑</p>
      </div>
    </div>

    <!-- table -->
    <div class="flex flex-col items-center justify-center  mb-6">

      <app-table-admin-4-coloum> </app-table-admin-4-coloum>
    </div>


  </div>
</div>
