<div>
  <app-admin-sidebar ></app-admin-sidebar>
  <div class="p-6 bg-lightpink/5 lg:ml-80">
    <!-- top - bar -->
    <app-adminnavbar [bcitems]="[{label:'Models'}]"></app-adminnavbar>

    <div class="flex items-center mb-6">
      <h1 class="text-2xl font-bold text-primary">Model Management</h1>
    </div>

    <!-- tool - bar -->
    <div class="flex items-center mb-6">

    </div>

    <!-- cards -->
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 mb-6">
      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Total Models</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">86</p>

      </div>

      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Total Categories</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">15</p>
      </div>

      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Pending Models</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">3</p>
      </div>

      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Approved Models</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">25</p>
      </div>
      <div
        class="card bg-metawhite p-4 rounded-lg shadow-md hover:bg-darkpurple hover:text-metawhite justify-center items-center ">
        <h2 class="text-lg font-semibold text-metablack">Rejected Models</h2>
        <p class="text-xl lg:text-3xl font-bold text-purple1">15</p>
      </div>
    </div>

    <!-- table -->
    <div class="flex flex-col items-center justify-center  mb-6">

      <app-models-by-user-table (rowSelected)="onRowSelect($event)" ></app-models-by-user-table>
    </div>
    <p-dialog [(visible)]="vix" [style]="{ width: '40rem',height:'420px' }" [draggable]="true" >
      <ng-template pTemplate="headless"  class="w-full h-full">
        <div class="flex justify-between items-center backdrop-blur-sm bg-metawhite/70 w-full h-full">

          <div class="w-full h-full mx-auto  rounded-lg p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <img class="bg-primary h-40 rounded-lg mb-4 md:mb-0" src="https://primefaces.org/cdn/primeng/images/demo/product/{{selectedProduct.image}}"/>
              <div>
                <div class="flex items-center mb-2">
                  <img src="{{selectedProduct.user.image}}" alt="Creator Avatar" class="rounded-full mr-2" />
                  <span class="text-lg font-semibold text-foreground">{{selectedProduct.user.name}}</span>
                </div>
                <p class="text-muted-foreground">Uploaded Date: 2024-05-25</p>
                <p class="text-muted-foreground">Status: <span class="text-green500">Approved</span></p>
                <p class="text-muted-foreground">Model Name: {{selectedProduct.name}}</p>
                <p class="text-muted-foreground">Category: {{selectedProduct.category}}</p>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
              <div class="text-center">
                <p class="text-lg font-bold text-foreground">Sales from this model</p>
                <p class="text-xl text-foreground">$86 <span class="text-green-500">(+12%)</span></p>
              </div>
              <div class="text-center">
                <p class="text-lg font-bold text-foreground">Downloads</p>
                <p class="text-xl text-foreground">82 <span class="text-green-500">(+22%)</span></p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dialog>

  </div>
</div>
